@using System.Linq;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<IEnumerable<CSDemo.Models.Product.Product>>
@if (Model != null)
{
    <div class="releated-products">
        <h2>Customers Who Bought This Also Bought</h2>
        <div class="row grid" id="products">
            @foreach (var product in Model)
            {
                if (product != null)
                {
                    <div class="col-sm-4 col-xs-6">
                        @using (BeginEditFrame(product, "Edit Related Product", x => x.Images, x => x.Title, x => x.CatalogName, x => x.VariantProdId, x => x.DefaultVariant, x => x.IsNew, x => x.IsOnSale, x => x.Rating, x => x.ListPrice, x => x.Brand, x => x.Description, x => x.VariantSize, x => x.VariantColors, x => x.FullDescription, x => x.DateOfIntroduction, x => x.Size, x => x.Price, x => x.DefinitionName, x => x.Categories, x => x.SortFields, x => x.ItemsPerPage, x => x.Variants))
                        {
                        <article class="product-item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="product-overlay">
                                        <div class="product-mask"></div>
                                        <a href="@product.Url" class="product-permalink"></a>
                                        @if (product.Images != null && product.Images.Any())
                                        {
                                            @RenderImage(product.Images.ElementAt(0), x => x, new { Width = 420, Height = 287, AS = 1, BC = "ffffff", @class = "img-responsive " }, isEditable: false)
                                        }
                                        else if (product.Image1 != null)
                                        {
                                            <img src="@product.Image1" class="img-responsive" style="width:420px;height:287px;background-color:#ffffff" />
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="product-body">
                                        <h3>
                                            <a href="@product.Url">@product.Title</a>
                                        </h3>
                                        
                                        <div class="product-rating">
                                            <i class="fa fa-star@(product.Rating>0 ? string.Empty:"-o" )"></i>
                                            <i class="fa fa-star@(product.Rating>1 ? string.Empty:"-o" )"></i>
                                            <i class="fa fa-star@(product.Rating>2 ? string.Empty:"-o" )"></i>
                                            <i class="fa fa-star@(product.Rating>3 ? string.Empty:"-o" )"></i>
                                            <i class="fa fa-star@(product.Rating>4 ? string.Empty:"-o" )"></i>
                                        </div>
                                        <span class="price">
                                            <ins><span class="amount">@product.Price.ToString("C")</span></ins>
                                        </span>
                                        <br /><br />
                                    </div>
                                </div>
                            </div>
                        </article>
                        }
                    </div>
                }
            }

        </div>
    </div>
}