@using System.Linq;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<IEnumerable<CSDemo.Models.Product.Product>>
@if (Model != null)
{
    <!-- ==========================
        GRID PRODUCTS - START
    =========================== -->
    <section class="content grid-products border-top">
        <div class="container">
            <div class="row">
                <!-- ==========================
                    FEATURED PRODUCT HERO'S
                =========================== -->
                @if (Model.Any())
                {
                    foreach (var featuredProduct in Model.Take(2).ToList())
                    {
                        <div class="col-xs-6 col-sm-3">
                            @using (BeginEditFrame(featuredProduct, "Edit Featured Product", x => x.Images, x => x.Title, x => x.Rating, x => x.Price))
                            {
                                <a href="@featuredProduct.Url">
                                    <article class="product-item">
                                        @if (featuredProduct.Images != null && featuredProduct.Images.Any())
                                        {
                                            @RenderImage(featuredProduct.Images.ElementAt(0), x => x, new { Width = 200, Height = 300, AS = 1, @class = "img-responsive" }, isEditable: false)
                                        }
                                        else
                                        {
                                            if (!string.IsNullOrEmpty(featuredProduct.Image1))
                                            {
                                                <img src="@featuredProduct.Image1" class="img-responsive" style="width:200px;height:300px" />
                                            }
                                        }
                                        
                                        <h3>
                                            @featuredProduct.Title
                                        </h3>
                                        <div class="product-rating">
                                            <i class="fa fa-star@(featuredProduct.Rating > 0 ? string.Empty : "-o")"></i>
                                            <i class="fa fa-star@(featuredProduct.Rating > 1 ? string.Empty : "-o")"></i>
                                            <i class="fa fa-star@(featuredProduct.Rating > 2 ? string.Empty : "-o")"></i>
                                            <i class="fa fa-star@(featuredProduct.Rating > 3 ? string.Empty : "-o")"></i>
                                            <i class="fa fa-star@(featuredProduct.Rating > 4 ? string.Empty : "-o")"></i>
                                        </div>
                                        @{
                                            var isOnSale = featuredProduct.IsOnSale && (featuredProduct.Price != featuredProduct.SalePrice);
                                            var amount = isOnSale ? featuredProduct.SalePrice.ToString("c") : featuredProduct.ListPrice;
                                        }
                                        <span class="price">
                                            @if (isOnSale)
                                            {
                                                <del><span class="amount sale-old-price">@featuredProduct.ListPrice</span></del>
                                            }
                                            <ins><span class="amount">@amount</span></ins>
                                        </span>
                                    </article>
                                </a>
                            }
                        </div>
                    }
                }
                <!-- ==========================
                END FEATURED PRODUCT HEROS
                =========================== -->
                <!-- ==========================
                FEATURED PRODUCTS
                =========================== -->
                @if (Model.Count() > 2)
                {
                    <div class="col-xs-12 col-sm-3">
                        <ul class="list-unstyled small-product">
                            @foreach (var featuredProduct in Model.Skip(2).Take(4))
                            {
                                    <!-- PRODUCT - START -->
                                    <li class="clearfix">
                                        @using (BeginEditFrame(featuredProduct, "Edit Featured Product", x => x.Images, x => x.Title, x => x.Rating, x => x.Price))
                                        {
                                            <a href="@featuredProduct.Url">
                                                @if (featuredProduct.Images != null && featuredProduct.Images.Any())
                                                {
                                                    @RenderImage(featuredProduct.Images.ElementAt(0), x => x, new { Width = 60, Height = 80, AS = 1, @class = "img-responsive" }, isEditable: false)
                                                }
                                                else
                                                {
                                                    if (!string.IsNullOrEmpty(featuredProduct.Image1))
                                                    {
                                                        <img src="@featuredProduct.Image1" class="img-responsive" style="width:60px;height:80px" />
                                                    }
                                                }
                                                <h3>@featuredProduct.Title</h3>
                                            </a>
                                        <div class="product-rating">
                                            <i class="fa fa-star@(featuredProduct.Rating>0 ? string.Empty:"-o" )"></i>
                                            <i class="fa fa-star@(featuredProduct.Rating>1 ? string.Empty:"-o" )"></i>
                                            <i class="fa fa-star@(featuredProduct.Rating>2 ? string.Empty:"-o" )"></i>
                                            <i class="fa fa-star@(featuredProduct.Rating>3 ? string.Empty:"-o" )"></i>
                                            <i class="fa fa-star@(featuredProduct.Rating>4 ? string.Empty:"-o" )"></i>
                                        </div>
                                        <span class="price">
                                            <ins><span class="amount">@featuredProduct.ListPrice</span></ins>
                                        </span>
                                        }
                                    </li>
                                <!-- PRODUCT - END -->
                            }
                        </ul>
                    </div>
                }
                @if (Model.Count() > 6)
                {
                    <div class="col-xs-12 col-sm-3">
                        <ul class="list-unstyled small-product">
                            @foreach (var featuredProduct in Model.Skip(6).Take(4))
                            {
                                <!-- PRODUCT - START -->
                                <li class="clearfix">
                                    @using (BeginEditFrame(featuredProduct, "Edit Featured Product", x => x.Images, x => x.Title, x => x.Rating, x => x.Price))
                                    {
                                    <a href="@featuredProduct.Url">
                                        @if (featuredProduct.Images != null && featuredProduct.Images.Any())
                                        {
                                            @RenderImage(featuredProduct.Images.ElementAt(0), x => x, new { Width = 60, Height = 80, AS = 1, @class = "img-responsive" }, isEditable: false)
                                        }
                                        else
                                        {
                                            if (!string.IsNullOrEmpty(featuredProduct.Image1))
                                            {
                                                <img src="@featuredProduct.Image1" class="img-responsive" style="width:60px;height:80px" />
                                            }
                                        }
                                        <h3>@featuredProduct.Title</h3>
                                    </a>
                                    <div class="product-rating">
                                        <i class="fa fa-star@(featuredProduct.Rating>0 ? string.Empty:"-o" )"></i>
                                        <i class="fa fa-star@(featuredProduct.Rating>1 ? string.Empty:"-o" )"></i>
                                        <i class="fa fa-star@(featuredProduct.Rating>2 ? string.Empty:"-o" )"></i>
                                        <i class="fa fa-star@(featuredProduct.Rating>3 ? string.Empty:"-o" )"></i>
                                        <i class="fa fa-star@(featuredProduct.Rating>4 ? string.Empty:"-o" )"></i>
                                    </div>
                                    <span class="price">
                                        <ins><span class="amount">@featuredProduct.Price.ToString("C")</span></ins>
                                    </span>
                                    }
                                </li>
                                <!-- PRODUCT - END -->
                            }
                        </ul>
                    </div>
                }
                <!-- ==========================
                END FEATURED PRODUCTS
                =========================== -->
            </div>
        </div>
    </section>
    <!-- ==========================
        GRID PRODUCTS - END
    =========================== -->
}