@using Sitecore.Links;
@using Sitecore.Mvc;
@using Sitecore.Resources.Media;
@using System.Linq;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<IEnumerable<CSDemo.Models.Product.Product>>
@if (Model != null)
{
    <!-- ==========================
        GRID PRODUCTS - START
    =========================== -->
    <section class="content grid-products border-top">
        <div class="container">
            <div class="row">
                <!-- ==========================
                    FEATURED PRODUCT HERO'S
                =========================== -->
                @if (Model.Count() > 0)
                {
                    foreach (var featuredProduct in Model.Take(2).ToList())
                    {
                        using (BeginEditFrame(featuredProduct.Path))
                        { 
                        <div class="col-xs-6 col-sm-3">
                            <article class="product-item">
                                @RenderImage(featuredProduct.Images.ElementAt(0), x => x, new { Width = 200, Height = 300, AS = 1, @class = "img-responsive"}, isEditable: false)
                                <h3>
                                    <a href="@featuredProduct.Url)">@featuredProduct.Title</a>
                                    
                                </h3>
                                <div class="product-rating">
                                    @if (IsInEditingMode)
                                    {
                                        @Editable(featuredProduct, x => x.Rating)
                                    }
                                    else
                                    {
                                        <i class="fa fa-star@(featuredProduct.Rating>0 ? string.Empty:"-o" )"></i>
                                        <i class="fa fa-star@(featuredProduct.Rating>1 ? string.Empty:"-o" )"></i>
                                        <i class="fa fa-star@(featuredProduct.Rating>2 ? string.Empty:"-o" )"></i>
                                        <i class="fa fa-star@(featuredProduct.Rating>3 ? string.Empty:"-o" )"></i>
                                        <i class="fa fa-star@(featuredProduct.Rating>4 ? string.Empty:"-o" )"></i>
                                    }
                                </div>
 
                                <span class="price">
                                    @if (IsInEditingMode)
                                    { 
                                        <ins><span class="amount">@Editable(featuredProduct, x => x.Price)</span></ins>
                                    }
                                    else
                                    {
                                        <ins><span class="amount">@featuredProduct.Price.ToString("C")</span></ins>
                                    }
                                </span>
                            </article>
                        </div>
                        }
                    }
                }
                <!-- ==========================
                END FEATURED PRODUCT HEROS
                =========================== -->
                <!-- ==========================
                FEATURED PRODUCTS
                =========================== -->
                @if (Model.Count() > 2)
                {
                    <div class="col-xs-12 col-sm-3">
                        <ul class="list-unstyled small-product">
                            @foreach (var featuredProduct in Model.Skip(2).Take(4))
                            {
                                using (BeginEditFrame(featuredProduct.Path))
                                { 
                                    <!-- PRODUCT - START -->
                                    <li class="clearfix">
                                        <a href="@featuredProduct.Url">
                                            @RenderImage(featuredProduct.Images.ElementAt(0), x => x, new { Width = 60, Height = 80, AS = 1, @class = "img-responsive" }, isEditable: false)
                                            <h3>@featuredProduct.Title</h3>
                                        </a>
                                        <div class="product-rating">
                                            @if (IsInEditingMode)
                                            {
                                                @Editable(featuredProduct, x => x.Rating)
                                            }
                                            else
                                            {
                                                <i class="fa fa-star@(featuredProduct.Rating>0 ? string.Empty:"-o" )"></i>
                                                <i class="fa fa-star@(featuredProduct.Rating>1 ? string.Empty:"-o" )"></i>
                                                <i class="fa fa-star@(featuredProduct.Rating>2 ? string.Empty:"-o" )"></i>
                                                <i class="fa fa-star@(featuredProduct.Rating>3 ? string.Empty:"-o" )"></i>
                                                <i class="fa fa-star@(featuredProduct.Rating>4 ? string.Empty:"-o" )"></i>
                                            }
                                        </div>
                                        <span class="price">
                                            @if (IsInEditingMode)
                                            {
                                                <ins><span class="amount">@Editable(featuredProduct, x => x.Price)</span></ins>
                                            }
                                            else
                                            {
                                                <ins><span class="amount">@featuredProduct.Price.ToString("C")</span></ins>
                                            }
                                        </span>
                                    </li>
                                <!-- PRODUCT - END -->
                                }
                            }
                        </ul>
                    </div>
                }
                @if (Model.Count() > 6)
                {
                    <div class="col-xs-12 col-sm-3">
                        <ul class="list-unstyled small-product">
                            @foreach (var featuredProduct in Model.Skip(6).Take(4))
                            {
                                using (BeginEditFrame(featuredProduct.Path))
                                { 
                                <!-- PRODUCT - START -->
                                <li class="clearfix">
                                    <a href="@featuredProduct.Url">
                                        @RenderImage(featuredProduct.Images.ElementAt(0), x => x, new { Width = 60, Height = 80, AS = 1, @class = "img-responsive" }, isEditable: false)
                                        <h3>@featuredProduct.Title</h3>
                                    </a>
                                    <div class="product-rating">
                                        @if (IsInEditingMode)
                                        {
                                            @Editable(featuredProduct, x => x.Rating)
                                        }
                                        else
                                        {
                                            <i class="fa fa-star@(featuredProduct.Rating>0 ? string.Empty:"-o" )"></i>
                                            <i class="fa fa-star@(featuredProduct.Rating>1 ? string.Empty:"-o" )"></i>
                                            <i class="fa fa-star@(featuredProduct.Rating>2 ? string.Empty:"-o" )"></i>
                                            <i class="fa fa-star@(featuredProduct.Rating>3 ? string.Empty:"-o" )"></i>
                                            <i class="fa fa-star@(featuredProduct.Rating>4 ? string.Empty:"-o" )"></i>
                                        }
                                    </div>
                                    <span class="price">
                                        @if (IsInEditingMode)
                                        {
                                            <ins><span class="amount">@Editable(featuredProduct, x => x.Price)</span></ins>
                                        }
                                        else
                                        {
                                            <ins><span class="amount">@featuredProduct.Price.ToString("C")</span></ins>
                                        }
                                    </span>
                                </li>
                                <!-- PRODUCT - END -->
                                }
                            }
                        </ul>
                    </div>
                }
                <!-- ==========================
                END FEATURED PRODUCTS
                =========================== -->
            </div>
        </div>
    </section>
    <!-- ==========================
        GRID PRODUCTS - END
    =========================== -->
}