@using Sitecore.Mvc
@using Sitecore.Data
@using Sitecore.Data.Items
@using System.Collections.Generic
@using System.Linq

@{

    var parentID = "{4441D0B5-1080-4550-A91A-4C2C8245C986}";

    var categoryID = Sitecore.Web.WebUtil.GetUrlName(1);
    var productID = Sitecore.Web.WebUtil.GetUrlName(0).Replace(' ','-');


    if (!string.IsNullOrEmpty(categoryID) && !string.IsNullOrEmpty(productID))
    {
        var parent = Sitecore.Context.Database.GetItem(new ID(parentID));

        Item product = parent.Axes.GetDescendants().ToArray().AsQueryable().FirstOrDefault(x => (x.Parent.Key.Equals(categoryID) && x["ProductId"].ToString().ToLower().Equals(productID)));

        if (product != null)
        {
            var jsProductID = product.ID.ToString().Replace('{', 'x').Replace('}', 'x').Replace('-', 'x');

            var title = product.DisplayName.ToString();
            var description = product["Description"];
            var fullDescription = product["Full Description"];
            var productImageIds = product["Images"];
            var productId = product["ProductId"];
            var brand = product["Brand"];

            var onsale = product["OnSale"];

            var rPrice = decimal.Parse(product["ListPrice"]);
            var rDelPrice = rPrice + 100.00m;
            var price = String.Format("{0:0.00}", rPrice);
            var delPrice = String.Format("{0:0.00}", rDelPrice);

            var ProductId = product["ProductId"];
            var CatalogName = product["CatalogName"];
            var Variants = product.GetChildren();

            var productImage = "assets/images/products/product-1.jpg";

            <section class="content products">
                <div class="container">

                    <article class=" product-item product-single">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="product-carousel-wrapper">
                                    <div id="product-carousel">
                                        @if (!string.IsNullOrEmpty(productImageIds))
                                        {
                                            var productImages = productImageIds.Split('|');

                                            foreach (var productImageId in productImages)
                                            {
                                                Item productImageItem = Sitecore.Context.Database.GetItem(productImageId);
                                                productImage = "/~/media/" + productImageItem.ID.ToShortID() + ".ashx?w=538&as=1&h=583";
                                                <div class="item"><img src="@productImage" class="img-responsive" alt=""></div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="item"><img src="~/assets/images/products/product-1.jpg" class="img-responsive" alt=""></div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <div class="product-body">
                                    <form name="@ProductId" id="@ProductId">
                                        <input type="hidden" id="ProductId" name="ProductId" value="@ProductId" />
                                        <input type="hidden" id="CatalogName" name="CatalogName" value="@CatalogName" />

                                        <h3>@title</h3>
                                        <div class="product-labels">
                                            <span class="label label-info">new</span>
                                            <span class="label label-danger">sale</span>
                                        </div>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <span class="price">
                                            <ins><span class="amount">$@price</span></ins>
                                        </span>
                                        <ul class="list-unstyled product-info">
                                            <li><span>ID</span>@productId</li>
                                            <li><span>Availability</span>In Stock</li>
                                            <li><span>Brand</span>@brand</li>
                                            @*<li><span>Tags</span></li>*@
                                        </ul>
                                        <p>@description</p>
                                        <div class="product-form clearfix">
                                            <div class="row row-no-padding">

                                                <div class="col-xs-6">
                                                    <div class="product-quantity clearfix">
                                                        <a class="btn btn-default" id="qty-minus">-</a>
                                                        <input type="text" class="form-control" id="Quantity" value="1" />
                                                        <a class="btn btn-default" id="qty-plus">+</a>
                                                    </div>
                                                </div>



                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <select class="form-control" name="VariantId" id="VariantId">
                                                            @foreach (Item variant in Variants)
                                                            {
                                                                var variantName = variant.DisplayName.ToString();
                                                                var variantId = variant["VariantId"];
                                                                <option value="@variantId">@variantName</option>
                                                            }

                                                        </select>
                                                    </div>



                                                    <a href="javascript:void(0)" onclick="AddProductToCart('@ProductId', '@Sitecore.Context.Item.ID.ToString()')" class="btn btn-primary add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                </div>

                                            </div>
                                        </div>
                                        <ul class="list-inline product-links">
                                            <li><a href="#"><i class="fa fa-heart"></i>Add to wishlist</a></li>
                                            <li><a href="#"><i class="fa fa-exchange"></i>Compare</a></li>
                                            <li><a href="#"><i class="fa fa-envelope"></i>Email to friend</a></li>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </article>

                    <div class="tabs product-tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#description" role="tab" data-toggle="tab" aria-controls="description" aria-expanded="true">Description</a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#reviews" role="tab" data-toggle="tab" aria-controls="reviews" aria-expanded="false">Reviews</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="description">
                                @Html.Raw(fullDescription)
                            </div>

                            <div role="tabpanel" class="tab-pane in" id="reviews">
                                <div class="comments-reviews">
                                    <!-- Begin: Intense Debate Scripting (comments service) -->
                                    <script>
                                        var idcomments_acct = 'e51a68d7ae9a2ded4bf583c290a77ae9';
                                        var idcomments_post_id;
                                        var idcomments_post_url;
                                    </script>
                                    <span id="IDCommentsPostTitle" style="display:none"></span>
                                    <script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
                                    <!-- End:   Intense Debate Scripting (comments service) -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        } @* END:  if (product != null) *@
    }
}
