@using Sitecore.Mvc
@using Sitecore.Data
@using Sitecore.Data.Items
@using System.Collections.Generic
@using System.Linq

@{

    var parentID = "{4441D0B5-1080-4550-A91A-4C2C8245C986}";

    var categoryID = Sitecore.Web.WebUtil.GetUrlName(1);
    var productID = Sitecore.Web.WebUtil.GetUrlName(0).Replace(' ','-');


    if (!string.IsNullOrEmpty(categoryID) && !string.IsNullOrEmpty(productID))
    {
        var parent = Sitecore.Context.Database.GetItem(new ID(parentID));

        Item product = parent.Axes.GetDescendants().ToArray().AsQueryable().FirstOrDefault(x => (x.Parent.Name.Equals(categoryID) && x["ProductId"].ToString().Equals(productID)));

        if (product != null)
        {
            var jsProductID = product.ID.ToString().Replace('{', 'x').Replace('}', 'x').Replace('-', 'x');
                   
            var title = product.DisplayName.ToString();
            var description = product["Description"];
            var productImageIds = product["Images"];
            var productId = product["ProductId"];
            var brand = product["Brand"];

            var onsale = product["OnSale"];

            var rPrice = decimal.Parse(product["ListPrice"]);
            var rDelPrice = rPrice + 100.00m;
            var price = String.Format("{0:0.00}", rPrice);
            var delPrice = String.Format("{0:0.00}", rDelPrice);

            var ProductId = product["ProductId"];
            var CatalogName = product["CatalogName"];
            var Variants = product.GetChildren();

            var productImage = "assets/images/products/product-1.jpg";

            <section class="content products">
                <div class="container">

                    <article class=" product-item product-single">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="product-carousel-wrapper">
                                    <div id="product-carousel">
                                        @if (!string.IsNullOrEmpty(productImageIds))
                                        {
                                            var productImages = productImageIds.Split('|');

                                            foreach (var productImageId in productImages)
                                            {
                                                Item productImageItem = Sitecore.Context.Database.GetItem(productImageId);
                                                productImage = "/~/media/" + productImageItem.ID.ToShortID() + ".ashx";
                                                <div class="item"><img src="@productImage" class="img-responsive" alt=""></div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="item"><img src="~/assets/images/products/product-1.jpg" class="img-responsive" alt=""></div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-8">
                                <div class="product-body">
                                    <form name="@ProductId" id="@ProductId">
                                        <input type="hidden" id="ProductId" name="ProductId" value="@ProductId" />
                                        <input type="hidden" id="CatalogName" name="CatalogName" value="@CatalogName" />

                                        <h3>@title</h3>
                                        <div class="product-labels">
                                            <span class="label label-info">new</span>
                                            <span class="label label-danger">sale</span>
                                        </div>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <span class="price">
                                            <del><span class="amount">$@delPrice</span></del>
                                            <ins><span class="amount">$@price</span></ins>
                                        </span>
                                        <ul class="list-unstyled product-info">
                                            <li><span>ID</span>@productId</li>
                                            <li><span>Availability</span>In Stock</li>
                                            <li><span>Brand</span>@brand</li>
                                            @*<li><span>Tags</span></li>*@
                                        </ul>
                                        <p>@description</p>
                                        <div class="product-form clearfix">
                                            <div class="row row-no-padding">

                                                <div class="col-xs-6">
                                                    <div class="product-quantity clearfix">
                                                        <a class="btn btn-default" id="qty-minus">-</a>
                                                        <input type="text" class="form-control" id="Quantity" value="1" />
                                                        <a class="btn btn-default" id="qty-plus">+</a>
                                                    </div>
                                                </div>



                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <select class="form-control" name="VariantId" id="VariantId">
                                                            @foreach (Item variant in Variants)
                                                            {
                                                                var variantName = variant.DisplayName.ToString();
                                                                var variantId = variant["VariantId"];
                                                                <option value="@variantId">@variantName</option>
                                                            }

                                                        </select>
                                                    </div>



                                                    <a href="javascript:void(0)" onclick="AddProductToCart('@ProductId')" class="btn btn-primary add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                </div>

                                            </div>
                                        </div>
                                        <ul class="list-inline product-links">
                                            <li><a href="#"><i class="fa fa-heart"></i>Add to wishlist</a></li>
                                            <li><a href="#"><i class="fa fa-exchange"></i>Compare</a></li>
                                            <li><a href="#"><i class="fa fa-envelope"></i>Email to friend</a></li>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </article>

                    <div class="tabs product-tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#description" role="tab" data-toggle="tab" aria-controls="description" aria-expanded="true">Description</a>
                            </li>
                            <li role="presentation" class="">
                                <a href="#reviews" role="tab" data-toggle="tab" aria-controls="reviews" aria-expanded="false">Reviews</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="description">
                                <h4>Etiam posuere id nulla</h4>
                                <p>Ut arcu ipsum, cursus vitae ligula id, semper sodales mauris. Etiam posuere id nulla lacinia convallis. Sed tortor nisi, semper a auctor id, aliquet et sem. Aliquam suscipit lectus ut arcu pretium, et malesuada tortor finibus. Pellentesque sed arcu nec lectus vulputate pharetra. Vestibulum lobortis dolor massa, et tristique ex tincidunt at. Donec imperdiet elit elit, sit amet posuere dui auctor id. Nullam vel augue varius, ornare purus a, mattis diam.</p>

                                <ul>
                                    <li>Etiam posuere id nulla lacinia convallis</li>
                                    <li>Sed tortor nisi, semper a auctor id, aliquet</li>
                                    <li>Curabitur eros dui</li>
                                </ul>

                                <h5>Pellentesque vel felis pharetra</h5>

                                <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur eros dui, viverra nec nisl quis, aliquet auctor nisi. Pellentesque vel felis pharetra, accumsan purus eu, mattis est. Aliquam tincidunt efficitur nibh nec volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla ut nisl eu nisi vestibulum consectetur. Quisque egestas dolor neque, at bibendum lorem convallis sed. Maecenas finibus metus ante, non tristique sapien sagittis id. Nam et iaculis massa. Nulla facilisi. Integer at nunc neque. Phasellus posuere et nunc ac blandit. Mauris sollicitudin, sapien vitae luctus pellentesque, risus nunc mattis purus, sed laoreet ante leo congue sem. Etiam eget nisi ipsum. Phasellus consectetur vel turpis vitae eleifend.</p>

                                <h5>Phasellus et libero</h5>

                                <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam erat volutpat. Phasellus et libero nec ligula imperdiet viverra quis et turpis. Aenean quis mattis nunc. Mauris consectetur sed eros sed convallis. Morbi non elit in est tempus scelerisque congue a purus. In eget ullamcorper magna. Nam libero turpis, ullamcorper sit amet molestie nec, cursus ac urna. Suspendisse blandit finibus est, quis pulvinar arcu pretium vel. Aenean et leo nisi. Donec at iaculis ligula. Proin condimentum lobortis ex, in congue nisi molestie eget.</p>
                            </div>

                            <div role="tabpanel" class="tab-pane in" id="reviews">
                                <div class="comments-reviews">
                                    <!-- Begin: Intense Debate Scripting (comments service) -->
                                    <script>
                                        var idcomments_acct = 'e51a68d7ae9a2ded4bf583c290a77ae9';
                                        var idcomments_post_id;
                                        var idcomments_post_url;
                                    </script>
                                    <span id="IDCommentsPostTitle" style="display:none"></span>
                                    <script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
                                    <!-- End:   Intense Debate Scripting (comments service) -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        } @* END:  if (product != null) *@
    }
}
