@using Sitecore.Links;
@using Sitecore.Mvc;
@using Sitecore.Resources.Media;
@using System.Linq;
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<IEnumerable<CSDemo.Models.Product.Product>>
@if (Model != null)
{
    <!-- ==========================
         GRID PRODUCTS - START
     =========================== -->
    <section class="content border-top">
        <div class="container">
            <div class="row">
                <!-- ==========================
                    FEATURED PRODUCT HERO'S
                =========================== -->
                @if (Model.Count() > 0)
                {
                    foreach (var featuredProduct in Model.Take(4).ToList())
                    {
                        using (BeginEditFrame(featuredProduct.Path))
                        {
                            // 2 columns on phones, 4 columns on everything else
                            // < 768 phone, > everything else desktop tablet
                            <div class="col-xs-6 col-sm-3 grid-products">
                                <article class="product-item">
                                    @RenderImage(featuredProduct.Images.ElementAt(0), x => x, new { Width = 200, Height = 300, AS = 1, @class = "img-responsive" }, isEditable: false)
                                    <h3>
                                        <a href="@featuredProduct.Url)">@featuredProduct.Title)</a>

                                    </h3>
                                    <div class="product-rating">
                                        @if (IsInEditingMode)
                                        {
                                            @Editable(featuredProduct, x => x.Rating)
                                        }
                                        else
                                        {
                                            <i class="fa fa-star@(featuredProduct.Rating>0 ? string.Empty:"-o" )"></i>
                                            <i class="fa fa-star@(featuredProduct.Rating>1 ? string.Empty:"-o" )"></i>
                                            <i class="fa fa-star@(featuredProduct.Rating>2 ? string.Empty:"-o" )"></i>
                                            <i class="fa fa-star@(featuredProduct.Rating>3 ? string.Empty:"-o" )"></i>
                                            <i class="fa fa-star@(featuredProduct.Rating>4 ? string.Empty:"-o" )"></i>
                                        }
                                    </div>

                                    <span class="price">
                                        @*<ins><span class="amount">@featuredProduct.Price.ToString("C")</span></ins>*@
                                        @if (IsInEditingMode)
                                        {
                                            <ins><span class="amount">@Editable(featuredProduct, x => x.Price)</span></ins>
                                        }
                                        else
                                        {
                                            <ins><span class="amount">@featuredProduct.Price.ToString("C")</span></ins>
                                        }
                                    </span>
                                </article>
                            </div>
                        }
                    }
                }
                <!-- ==========================
                END FEATURED PRODUCT HEROS
                =========================== -->
            </div>
        </div>
    </section>
    <!-- ==========================
        GRID PRODUCTS - END
    =========================== -->

}