@using XBlogHelper.Models.Blog
@using XBlogHelper.Search
@using XBlogHelper.General
@using Sitecore.Data.Items
@using Sitecore.Mvc
@using Sitecore.Links
@using XBlogHelper
@using System.Web
@using Sitecore
@using Mvc
@using CSDemo.Models.Blog
@using Glass.Mapper.Sc
@inherits System.Web.Mvc.WebViewPage
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<CSDemo.Models.Blog.Blog>

@{

    Item blogItem = Sitecore.Context.Item;

    var blog = blogItem.GlassCast<Blog>();




    Item dataSourceItem = Sitecore.Context.Database.GetItem(Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.DataSource);
    BlogPost blogPost = Sitecore.Context.Item.CreateAs<BlogPost>();
    BlogSettings settingsItem = XBlogHelper.General.DataManager.GetBlogSettingsItem(dataSourceItem != null ? dataSourceItem : Sitecore.Context.Item);

    UrlOptions option = new UrlOptions();
    option.AlwaysIncludeServerUrl = true;
    string currentUrl = HttpUtility.UrlEncode(LinkManager.GetItemUrl(blogPost.InnerItem, option));
    string title = HttpUtility.UrlEncode(blogPost.Title);

    var author = string.Empty;

    var tags = TagManager.GetCommaSeperatedTagList(blogPost);

    var tagList = new List<string>();

    if (!string.IsNullOrEmpty(tags.Trim()))
    {
        if (tags.Contains(","))
        {
            tagList = tags.Split(',').ToList();
        }
        else
        {
            tagList.Add(tags);
        }
    }

}

@if (blogPost.Authors.Any())
{
    List<Sitecore.Data.ID> authorIds = new List<Sitecore.Data.ID>();
    foreach (Author a in blogPost.Authors)
    {
        authorIds.Add(a.ItemId);
    }

    List<Author> authors = AuthorManager.GetAuthorsForBlogPost(authorIds);

    string authorNames = string.Empty;

    foreach (Author a in authors)
    {
        authorNames += a.FullName;
    }

    @Html.Raw(authors[0].FullName);
}



<!-- ==========================
    BLOG - START
=========================== -->
<section class="content blog">
    <div class="container">
        <h2 class="hidden">Blog</h2>
        <div class="row">
            <div class="col-sm-9">

                <!-- POST - START -->
                <article class="post">
                    <div class="post-left">
                        <div class="author">
                            @RenderImage(blog.Author.ElementAt(0), t => t.ProfileImage, new { mh = 100, @class = "img-responsive  img-circle" }, true)
                            <span>Posted by</span>
                            <span class="name">@blog.Author.ElementAt(0).Name;</span>
                        </div>
                    </div>
                    <h3><a href="#">@blog.Title</a></h3>
                    <div class="meta">
                        <div class="date">@blog.PublishDate.ToString("dddd, d, yyyy")</div>
                        <div class="date visible-xs-inline-block">@author</div>
                        <div class="category">@blog.Category.ElementAt(0)</div>
                    </div>
                    <div class="attachment">
                        @RenderImage(blog, t => t.Main, new { mh = 620, @class = "img-responsive" }, true)
                    </div>
                    @blog.Body
                    <div class="post-bottom clearfix">
                        @if (blog.Tags.Any())
                        {
                            <div class="tags">
                                @foreach (var tag in blog.Tags)
                                {
                                    <span class="label"><i class="fa fa-tag"></i><a href="#">@tag</a></span>
                                }
                            </div>
                        }
                    </div>
                </article>
                <!-- POST - END -->
                <!-- COMMENTS - START -->
                <h2>5 Comments</h2>
                <div class="comments">

                    <!-- REVIEW - START -->
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" alt="" src="assets/images/default-avatar.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">John Doe</h3>
                            <div class="meta">
                                <span class="date">20 July 2015</span>
                                <a href="#respond" class="scroll">Reply</a>
                            </div>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                        </div>
                    </div>
                    <!-- REVIEW - END -->
                    <!-- REVIEW - START -->
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" alt="" src="assets/images/default-avatar.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">John Doe</h3>
                            <div class="meta">
                                <span class="date">20 July 2015</span>
                                <a href="#respond" class="scroll">Reply</a>
                            </div>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>

                            <!-- REVIEW - START -->
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" alt="" src="assets/images/default-avatar.png">
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">John Doe</h3>
                                    <div class="meta">
                                        <span class="date">20 July 2015</span>
                                    </div>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                </div>
                            </div>
                            <!-- REVIEW - END -->
                            <!-- REVIEW - START -->
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" alt="" src="assets/images/default-avatar.png">
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">John Doe</h3>
                                    <div class="meta">
                                        <span class="date">20 July 2015</span>
                                    </div>
                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                </div>
                            </div>
                            <!-- REVIEW - END -->

                        </div>
                    </div>
                    <!-- REVIEW - END -->
                    <!-- REVIEW - START -->
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" alt="" src="assets/images/default-avatar.png">
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">John Doe</h3>
                            <div class="meta">
                                <span class="date">20 July 2015</span>
                                <a href="#respond" class="scroll">Reply</a>
                            </div>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                        </div>
                    </div>
                    <!-- REVIEW - END -->

                </div>

                <form class="comment-form" id="respond">
                    <h3>Add a review</h3>
                    <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked<span class="required">*</span></p>
                    <div class="row">
                        <div class="form-group comment-form-author col-sm-6">
                            <label for="author">Name<span class="required">*</span></label>
                            <input class="form-control" id="author" name="author" type="text" required value="" placeholder="Enter your name">
                        </div>
                        <div class="form-group comment-form-email col-sm-6">
                            <label for="email">Email<span class="required">*</span></label>
                            <input class="form-control" id="email" name="email" type="email" required value="" placeholder="Enter your email">
                        </div>
                    </div>
                    <div class="form-group comment-form-comment">
                        <label for="comment">Comment<span class="required">*</span></label>
                        <textarea class="form-control" id="comment" name="comment" required placeholder="Enter your message"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i>Submit</button>
                </form>
                <!-- COMMENTS - END -->

            </div>
            <div class="col-sm-3">
                <aside class="sidebar right">

                    <!-- WIDGET:SEARCH - START -->
                    <div class="widget widget-search">
                        <h3>Search</h3>
                        <div class="widget-body">
                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- WIDGET:SEARCH - START -->
                    <!-- WIDGET:POST CATEGORIES - START -->
                    <div class="widget widget-post-categories">
                        <h3>Categories</h3>
                        <div class="widget-body">
                            <ul class="list-unstyled">
                                <li><a href="#">Fashion<span class="badge">12</span></a></li>
                                <li><a href="#">Design<span class="badge">12</span></a></li>
                                <li><a href="#">Music<span class="badge">12</span></a></li>
                                <li><a href="#">Travel<span class="badge">12</span></a></li>
                                <li><a href="#">Uncategorized<span class="badge">12</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- WIDGET:POST CATEGORIES - START -->
                    <!-- WIDGET:TAGS - START -->
                    <div class="widget widget-tags">
                        <h3>Tags</h3>
                        <div class="widget-body">
                            <div class="tags">
                                <span class="label"><i class="fa fa-tag"></i><a href="#">book</a></span>
                                <span class="label"><i class="fa fa-tag"></i><a href="#">music</a></span>
                                <span class="label"><i class="fa fa-tag"></i><a href="#">nature</a></span>
                                <span class="label"><i class="fa fa-tag"></i><a href="#">read</a></span>
                                <span class="label"><i class="fa fa-tag"></i><a href="#">songs</a></span>
                                <span class="label"><i class="fa fa-tag"></i><a href="#">sunshine</a></span>
                            </div>
                        </div>
                    </div>
                    <!-- WIDGET:TAGS - START -->
                    <!-- WIDGET:TAGS - START -->
                    <div class="widget widget-recent-comments">
                        <h3>Recent Comments</h3>
                        <div class="widget-body">
                            <ul class="list-unstyled">
                                <li>
                                    <p class="text"> Nullam lectus risus, pretium eu rhoncus quis</p>
                                    <p>Posted in <a href="single-post.html">Introducing WordPress 4.0 “Benny”</a></p>
                                    <p>By <a href="#">John Doe</a></p>
                                </li>
                                <li>
                                    <p class="text">Nullam lectus risus, pretium eu rhoncus quis, ultrices et dolor. Cras eget sem vitae velit cursus pulvinar in a urna arcu nisi</p>
                                    <p>Posted in <a href="single-post.html">Introducing WordPress 4.0 “Benny”</a></p>
                                    <p>By <a href="#">John Doe</a></p>
                                </li>
                                <li>
                                    <p class="text">Great shoes! Recomended!</p>
                                    <p>Posted in <a href="single-post.html">Introducing WordPress 4.0 “Benny”</a></p>
                                    <p>By <a href="#">John Doe</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- WIDGET:TAGS - START -->

                </aside>
            </div>
        </div>
    </div>
</section>
<!-- ==========================
    BLOG - END
=========================== -->
