@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    
    var sectionCss = string.Empty;
    var containerCss = string.Empty;
    var rowCss = string.Empty;

    // Note, Will be moving to View model or Controller Rendering

    var rc = Sitecore.Mvc.Presentation.RenderingContext.CurrentOrNull;
    if (rc != null)
    {
        var rcParams = rc.Rendering.Parameters;

        if (rcParams["Section CSS Class"] != null)
        {
            sectionCss = rcParams["Section CSS Class"].ToString().Trim();
        }
        if (rcParams["Container CSS Class"] != null)
        {
            containerCss = rcParams["Container CSS Class"].ToString().Trim();
        }
        if (rcParams["Row CSS Class"] != null)
        {
            rowCss = rcParams["Row CSS Class"].ToString().Trim();
        }
        
    }  
    
    if(string.IsNullOrEmpty(rowCss))  {rowCss = "row";}
    
}

@if (!string.IsNullOrEmpty(sectionCss))
{
    @Html.Raw(string.Format("<section class=\"{0} i-live-in-row4\">", sectionCss));
}

@if (!string.IsNullOrEmpty(containerCss))
{
    @Html.Raw(string.Format("<div class=\"{0}\">", containerCss));
}

@if (!string.IsNullOrEmpty(sectionCss))
{
    @Html.Raw(string.Format("<div class=\"{0}\">", rowCss));
}
            @Html.Sitecore().Placeholder("row4")
@if (!string.IsNullOrEmpty(rowCss))
{
    @Html.Raw(string.Format("</div>"));
}

@if (!string.IsNullOrEmpty(containerCss))
{
    @Html.Raw(string.Format("</div>"));
}

@if (!string.IsNullOrEmpty(sectionCss))
{
    @Html.Raw(string.Format("</secion>"));
}
