@using Sitecore.Mvc
@using System.Linq
@using Sitecore.Links
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<IEnumerable<CSDemo.Models.Navigation.NavigationItem>>
@if (Model != null)
{
    foreach (var navigationItem in Model)
    {
        if (navigationItem.MegaMenuItems != null && navigationItem.MegaMenuItems.Any())
        {
            <li class="dropdown megamenu">
                <a href="@navigationItem.Link.Url" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true">@navigationItem.Link.Text</a>
                <ul class="dropdown-menu">
                    @foreach (var megaMenuNavigationItem in navigationItem.MegaMenuItems)
                    {
                        <li class="col-sm-4 col-md-3">
                            <ul class="list-unstyled">
                                <li class="title">@megaMenuNavigationItem.Title</li>
                                @foreach (var link in megaMenuNavigationItem.Links)
                                {
                                    var itemUrl = LinkManager.GetItemUrl(link);
                                    <li>
                                        <a href="@itemUrl">@link.Name</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    <li class="hidden-xs hidden-sm col-md-3">
                        @RenderImage(navigationItem.MegaMenuImage, x => x, new { @class = "img-responsive center-block",
                       @style = "padding-bottom: 10px; display: block; margin - right: auto; margin - left: auto; padding - bottom: 10px;" }, isEditable: false)
                    </li>
                </ul>
            </li>
        }
        else
        {
            <li class="dropdown">
                <a href="@navigationItem.Link.Url">@navigationItem.Link.Text</a>
            </li>
        }
    }
}