@using System.Security.Cryptography
@using Sitecore.Mvc;
@using CSDemo.Models.Checkout.Cart
@using CSDemo.Models.Account

@{

    var cartHelper = new CartHelper();
    ShoppingCart shoppingCart = cartHelper.GetMiniCart();

    var nextStatus = UserStatus.GetNextStatus(shoppingCart.ProductsTotal);
    var currentStatus = UserStatus.GetStatus(Sitecore.Context.User);
    var reachedStatus = UserStatus.GetStatus(shoppingCart.ProductsTotal);
    var lineTotal = "0.00";
    var discount = "0.00";
    var shipping = "0.00";
    var tax = "0.00";
    var grandtotal = "0.00";
    var total = "0.00";

    if (shoppingCart != null && shoppingCart.Total > 0)
    {

        try
        {

            lineTotal = String.Format("{0:0.00}", shoppingCart.LineTotal);
            discount = String.Format("{0:0.00}", shoppingCart.Discount);
            shipping = String.Format("{0:0.00}", shoppingCart.Shipping);
            tax = String.Format("{0:0.00}", shoppingCart.Tax);
            grandtotal = String.Format("{0:0.00}", shoppingCart.GrandTotal);
            total = String.Format("{0:0.00}", shoppingCart.ProductsTotal);

        }
        catch (Exception ex)
        {


        }

    }
 }

<!-- ==========================
    MY ACCOUNT - START
=========================== -->

    <section class="content account">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <article class="account-content">

                        <form id="cart-form" name="cart-form">
                            <div class="products-order shopping-cart">

                                @if (shoppingCart != null && shoppingCart.Total > 0)
                                {
                                    <div class="table-responsive">
                                        <table class="table table-products">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Product</th>
                                                    <th>Unit Price</th>
                                                    <th>Quantity</th>
                                                    <th>Subtotal</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (CartItem cartItem in shoppingCart.CartItems)
                                                {
                                                    var unitPrice = String.Format("{0:0.00}", cartItem.UnitPrice);
                                                    var subTotal = String.Format("{0:0.00}", cartItem.SubTotal);
                                                    <tr>
                                                        <td class="col-xs-1"><img src="@cartItem.ImageUrl" alt="" class="img-responsive"></td>
                                                        <td class="col-xs-4 col-md-5"><h4><a href="/categories/@cartItem.Category/@cartItem.CsProductId">@cartItem.ProductName</a><small></small></h4></td>
                                                        <td class="col-xs-2 text-center"><span>$@unitPrice</span></td>
                                                        <td class="col-xs-2 col-md-1">
                                                            <div class="form-group">
                                                                <input type="text" name="quantity" class="form-control" value="@cartItem.Quantity"><input type="hidden" name="externalID" class="form-control" value="@cartItem.ExternalId">
                                                            </div>
                                                        </td>
                                                        <td class="col-xs-2 text-center"><span><b>$@subTotal</b></span></td>
                                                        <td class="col-xs-1 text-center"><a href="javascript:void(0)" data-externalid="@cartItem.ExternalId" class="btn btn-primary RemoveProduct"><i class="fa fa-times"></i></a></td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>

                                    <a href="/categories" class="btn btn-inverse">Continue Shopping</a>
                                    <a href="/cart" class="btn btn-inverse update-cart">Update Shopping Cart</a>

                                }
                                else
                                {
                                    <h2>Your cart is empty. Why not add something?</h2>


                                    <a href="/categories" class="btn btn-inverse">Continue Shopping</a>
                                }


                            </div>


                            <div class="products-order shopping-cart">
                                <div class="table-responsive">
                                    <table class="table table-products">
                                        <tr>
                                            <td style="border-color: white">
                                                <ul class="list-unstyled order-total">
                                                    <li>Total products<span>$@lineTotal</span></li>
                                                    <li>Discount<span>- $@discount</span></li>
                                                    <li>Shipping<span class="total">$@shipping</span></li>
                                                    <li>Tax<span class="total">$@tax</span></li>
                                                    <li>Grandtotal<span class="total">$@grandtotal</span></li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            @if (shoppingCart.ProductsTotal > 0)
                            {
                                <div class="cart-upsell">
                                    @if (reachedStatus != null && reachedStatus.Amount != 0 && (currentStatus == null || reachedStatus.Name != currentStatus.Name))
                                    {
                                        <p class="highlight">Congratulations! You've qualified for our @reachedStatus.Name status! After completing this purchase you will be able to enjoy all the benefits of the membership.</p>
                                    }

                                    @if (nextStatus != null && nextStatus.Amount != 0)
                                    {
                                        <p><img style="float: right; margin: 5px" src="@nextStatus.Badge.Src?w=30" alt="@nextStatus.Badge.Alt" title="@nextStatus.Name Member"/>
                                            You are $@(nextStatus.Amount - shoppingCart.ProductsTotal) away from becoming a @nextStatus.Name member, which gives you extra discounts coupons in the mail and free shipping on all orders.
                                            <br/><br/><a class="btn btn-inverse" href="/categories" title="Continue Shopping">Get More</a>
                                        </p>

                                    }

                                </div>
                            }
                            <div class="clearfix">
                                @if (shoppingCart != null && shoppingCart.Total > 0)
                                {
                                    <a href="/checkout" class="btn btn-primary btn-lg pull-right ">Checkout</a>
                                }
                            </div>
                        </form>

                    </article>
                </div>

            </div>
        </div>
    </section>

<!-- ==========================
    MY ACCOUNT - END
=========================== -->
