@using Sitecore.Mvc;

<!-- ==========================
    MY ACCOUNT - START
=========================== -->
<section class="content account">
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <article class="account-content checkout-steps">

                    <div class="row row-no-padding">
                        <div class="col-xs-6 col-sm-3">
                            <div class="checkout-step active">
                                <div class="number">1</div>
                                <div class="title">Billing & Shipping Address</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="checkout-step">
                                <div class="number">2</div>
                                <div class="title">Shipping Method</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="checkout-step">
                                <div class="number">3</div>
                                <div class="title">Payment Method</div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="checkout-step">
                                <div class="number">4</div>
                                <div class="title">Review</div>
                            </div>
                        </div>
                    </div>

                <div class="progress checkout-progress hidden-xs">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;"></div>
                </div>
                    @{
                        var addresses = CSDemo.Models.Account.AccountHelper.GetUserAddresses();
                    }
                    
                    <form id="checkout-form">
                        <h3>Billing Information</h3>
                    <div class="products-order checkout billing-information">
                    @if (addresses != null && addresses.Any())
                    {
                        <button class="btn btn-primary addresses-toggle" type="button" data-toggle="collapse" data-target="#my-addresses-billing" aria-expanded="false" aria-controls="my-addresses-billing">My Saved Addresses</button>
                    }
                    <div id="my-addresses-billing" class="collapse">
                        <div class="table-responsive border">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Company</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Country</th>
                                    <th>Phone</th>
                                    <th></th>
                                </tr>
                                @if (addresses != null && addresses.Any())
                                {
                                    foreach (var address in addresses)
                                    {
                                        <tr>
                                            <td>@address.AddressName</td>
                                            <td>@address.FirstName @address.LastName</td>
                                            <td>@address.AddressLine1, @address.City</td>
                                            <td>@address.CountryRegionCode @address.CountryRegionName</td>
                                            <td>@address.TelephoneNumber</td>
                                            <td><a class="btn btn-primary customer-addr-data btn-sm" data-select="billing" data-formdata="@address.FirstName|@address.LastName|@address.AddressLine1|@address.AddressLine2|@address.City|@address.CountryRegionCode|@address.ZipPostalCode|@address.TelephoneNumber">Select</a></td>
                                        </tr>
                                    }
                                }

                            </table>
                        </div>
                    </div>

                    <div class="row">
                    <div class="form-group col-sm-6">
                        <label>First Name <span class="required">*</span></label>
                        <input type="text" name="firstname" id="firstname" class="form-control" required/>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Last Name <span class="required">*</span></label>
                        <input type="text" name="lastname" id="lastname" class="form-control" required/>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Email address <span class="required">*</span></label>
                        <input type="email" name="email" id="email" class="form-control" required>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Company</label>
                        <input type="text" name="company" id="company" class="form-control">
                    </div>
                    <div class="form-group col-sm-12">
                        <label>Address <span class="required">*</span></label>
                        <input type="text" name="address" id="address" class="form-control" required>
                    </div>
                    <div class="form-group col-sm-12">
                        <input type="text" name="addressline1" id="addressline1" class="form-control">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>City <span class="required">*</span></label>
                        <input type="text" name="city" id="city" class="form-control" required>
                    </div>                    
                    <div class="form-group col-sm-6">                  
                        <label>State <span class="required">*</span></label>                  
                        <input type="text" name="state" id="state" class="form-control" required>              
                    </div>
                    <div class="form-group col-sm-6">
                        <label>ZIP / Postal Code <span class="required">*</span></label>
                        <input type="text" name="zip" id="zip" class="form-control" required>
                    </div>
                    <div class="form-group col-sm-6">
                    <label>Country <span class="required">*</span></label>
                    <select class="form-control" name="country" id="country" required>
                    <option value="CA">Canada</option>
                    <option value="US<" selected="selected">United States</option>
                    </select>
                        <input type="hidden" id="countryName" name="countryName" value="Canada" />                        
                    </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Phone <span class="required">*</span></label>
                            <input type="text" name="phone" id="phone" class="form-control" required>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Fax</label>
                            <input type="text" name="fax" id="fax" class="form-control">
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Additional information</label>
                            <textarea name="information" id="information" class="form-control"></textarea>
                        </div>
                    </div>
                    </div>

                        <h3>Shipping Information</h3>
                        <div class="products-order checkout shipping-information">
                            <div class="checkbox">
                                <input id="check-shipping" name="check-shipping" type="checkbox" checked>
                                <label for="check-shipping" data-toggle="collapse" data-target="#shipping-address-collapse" aria-controls="shipping-address-collapse">My delivery and billing addresses are the same.</label>
                            </div>
                            <div id="shipping-address-collapse" class="collapse">
                            @if (addresses != null && addresses.Any())
                            {
                                <button class="btn btn-primary addresses-toggle" type="button" data-toggle="collapse" data-target="#my-addresses-shipping" aria-expanded="false" aria-controls="my-addresses-shipping">My Saved Addresses</button>
                            }
                                <div id="my-addresses-shipping" class="collapse">
                                    <div class="table-responsive border">
                                        <table class="table table-bordered">
                                            <tr>
                                                <th>Company</th>
                                                <th>Name</th>
                                                <th>Address</th>
                                                <th>Country</th>
                                                <th>Phone</th>
                                                <th></th>
                                            </tr>
                                            @if (addresses != null && addresses.Any())
                                            {
                                                foreach (var address in addresses)
                                                {
                                                    <tr>
                                                        <td>@address.AddressName</td>
                                                        <td>@address.FirstName @address.LastName</td>
                                                        <td>@address.AddressLine1, @address.City</td>
                                                        <td>@address.CountryRegionCode @address.CountryRegionName</td>
                                                        <td>@address.TelephoneNumber</td>
                                                        <td><a class="btn btn-primary customer-addr-data btn-sm" data-select="shipping" data-formdata="@address.FirstName|@address.LastName|@address.AddressLine1|@address.AddressLine2|@address.City|@address.CountryRegionCode|@address.ZipPostalCode|@address.TelephoneNumber">Select</a></td>                                                        

                                                    </tr>
                                                }
                                            }
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label>First Name <span class="required">*</span></label>
                                        <input type="text" name="firstname2" id="firstname2" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Last Name <span class="required">*</span></label>
                                        <input type="text" name="lastname2" id="lastname2" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Company</label>
                                        <input type="text" name="company2" id="company2" class="form-control">
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Address <span class="required">*</span></label>
                                        <input type="text" name="address2" id="address2" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <input type="text" name="addressline12" id="addressline12" class="form-control">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>City <span class="required">*</span></label>
                                        <input type="text" name="city2" id="city2" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>State <span class="required">*</span></label>
                                        <input type="text" name="state2" id="state2" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>ZIP / Postal Code <span class="required">*</span></label>
                                        <input type="text" name="zip2" id="zip2" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Country <span class="required">*</span></label>
                                        <select class="form-control" name="country2" id="country2" required>
                                            <option value="CA">Canada</option>
                                            <option value="US" selected="selected">United States</option>
                                        </select>
                                        <input type="hidden" id="countryName2" name="countryName2" value="Canada" /> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label>Phone <span class="required">*</span></label>
                                        <input type="text" name="phone2" id="phone2" class="form-control" required>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Fax</label>
                                        <input type="text" name="fax2" id="fax2" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <a href="/checkout/shipping" class="btn btn-primary btn-lg pull-right SubmitCheckout">Continue</a>
                        </div>
                    </form>

                </article>
            </div>

        </div>
    </div>
</section>
<!-- ==========================
    MY ACCOUNT - END
=========================== -->
