@model CSDemo.Models.SelectedInmate.SelectedInmateViewModel

<div class="container">

	@using (Html.BeginForm("CancelOrder", "SelectedInmate", FormMethod.Post))
	{
		<p class="text-right">
			<br />
			<strong>Shopping For:</strong> @Model.SelectedInmate.FullName (@Model.SelectedInmate.Tier - @Model.SelectedInmate.Block - @Model.SelectedInmate.Cell at @Model.FacilityName)
			<button type="submit">Cancel Order</button>

		</p>
	}

</div>