@model CSDemo.Models.SelectedInmate.SelectedInmateViewModel

<div class="container">

	@using (Html.BeginForm("CancelOrder", "SelectedInmate", FormMethod.Post))
	{
		<p class="text-right">
			<br />
			<strong>Shopping For:</strong> 
			@if (Model.IsHippa)
			{
				<span>@Model.SelectedInmate.InmateNumber at @Model.FacilityName</span>
			}
			else
			{
				<span>@Model.SelectedInmate.FullName (@Model.SelectedInmate.Tier - @Model.SelectedInmate.Block - @Model.SelectedInmate.Cell at @Model.FacilityName)</span>
			}
			<button type="submit">Cancel Order</button>

		</p>
	}

</div>