@model CSDemo.Contracts.GeneralSearch.ISearch
@if (Model == null)
{
    return;
}
<section class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                @Model.TotalItemCount @(Model.TotalItemCount==1?"result":"results" ) for <p>"@Model.Query"</p> 
            </div>
        </div>
    </div>
</section>
<section class="content products">
    <div class="container">
        <div class="row">
            @if (Model.Facets != null && Model.Facets.Any() && Model.Results.Any())
            {
                <div class="col-sm-3">
                    <aside class="sidebar">
                        @foreach (var facet in Model.Facets)
                        {
                            if (!facet.FoundValues.Any())
                            {
                                continue;
                            }
                            <div class="widget widget-@facet.DisplayName.ToLower()">
                                <h3>
                                    <a role="button" data-toggle="collapse" href="#widget-@facet.DisplayName.ToLower()-collapse" aria-expanded="true" aria-controls="widget-@facet.DisplayName.ToLower()-collapse">@facet.DisplayName</a>
                                </h3>
                                <div class="collapse in" id="widget-@facet.DisplayName.ToLower()-collapse" aria-expanded="true" role="tabpanel">
                                    <div class="widget-body">
                                        @foreach (var option in facet.FoundValues)
                                        {
                                            <div>
                                                <label for="check-with-discount"><a href="@Model.AddToFacets(facet.Name, option.Name, Request.Url.AbsoluteUri)">@option.Name</a></label>
                                                <span>[@option.AggregateCount]</span>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.ContainsFacets(Request.Url.AbsoluteUri))
                        {
                            <a href="@Model.RemoveFacets(Request.Url.AbsoluteUri)">Reset Filters</a>
                        }
                    </aside>
                </div>
            }
            <div class="col-xs-@(Model.Results.Any() ? "9":"12")">
                @if (!Model.Results.Any())
                {
                    <p>No products matched your search criteria. Please change your search query and try again.</p>
                }
                else
                {
                    <div class="row grid" id="products">
                        @foreach (var result in Model.Results)
                        {
                            @Html.Partial("_SearchResult", result)
                        }
                    </div>
                }
            </div>
        </div>

    </div>
</section>

